$color-dark: rgb(90, 27, 90);
$bg: rgb(61, 43, 61);
$txtc: white;
$bg-dark: rgb(27, 27, 27);
$bg-light: rgb(189, 189, 189);
$font: '../fonts/Raleway-VariableFont_wght.ttf';

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:ital,wght@1,100&display=swap');
@font-face {
    font-family: Raleway;
    src: url($font);
}


body{
    font-family: 'Cinzel', sans-serif;
    background-color: $bg-light;
}

header{
    background-image: url(../img/banner.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
}

.intro{
    background-color: $bg-dark;
    color: $txtc;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: black;
    text-align: justify;
    font-family: $font;
}

h1{
    color: $bg;
    letter-spacing: 5px;
    font-variant: small-caps;
    font-size: 450%;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

h2{
    font-variant: small-caps;
    font-weight: bold;
    color: $txtc;
    font-size: 250%;
    font-family: 'Cinzel', serif;
}

figcaption{
    color: $txtc;
    font-family: 'Montserrat', sans-serif;
}

footer{
    width: 100%;
    & p{
        color: $txtc;
        font-family: 'Cinzel', serif;
    }
}

#card{
    height: 510px;
    border-radius: 15px;
}